* {
    margin: 0;
    padding: 0;
}

.twice-head{
    background-color: #ADC6D9;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.twice-logo{
    width: auto;
    height: auto;
}

body{
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

.twice-greet{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 64px;
    text-align: center;
}

.about-twice{
    background-color: #5071C2;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20%;
    flex-wrap: wrap;
    margin-top: -5px;
}

.abt-desc{
    max-width: 550px;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 20px;
}

.abt-title{
    color: #FFFFFF;
    font-size: 40px;
}

.twice-abt{
    margin-bottom: 10px;
}

.twice-awd-title, .twice-sngs-title{
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    color: #FFFFFF;
}

.twice-awards{
    background-color: #ADC6D9;
    padding: 10px;
    padding-bottom: 40px;
}

.award-nominations{
    text-align: center;
    margin-top: 5px;
}

.awards-asia{
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-top: 6%;
    flex-wrap: wrap;
}

.twice-songs{
    background-color: #5071C2;
    padding: 10px;
    padding-bottom: 30px;
}

.top-1-streamed{
    border: 1px solid #FFD700;
    padding: 50px;
    background-color: #FFD700;
    padding-left: 270px;
    padding-right: 350px;
    margin-left: -10px;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

.fancy, .what-is-love, .feel-special{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.fancy-you, .wil-cover, .feelspecial{
    margin-top: -20px;
}

.top-2-streamed{
    border: 1px solid #C0C0C0;
    padding: 50px;
    background-color: #C0C0C0;
    padding-left: 70px;
    padding-right: 220px;
    margin-left: -10px;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

.what-is-love, .feel-special{
    margin-top: 60px;
}

.top-3-streamed{
    border: 1px solid #CD7F32;
    padding: 35px;
    background-color: #CD7F32;
    padding-left: 200px;
    padding-right: 195px;
    margin-left: -10px;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

.member-title{
    font-size: 40px;
    font-weight: 800;
    color: #FFFFFF;
    margin-left: 10%;
    padding-top: 20px;
}

.members{
    background-color: #ADC6D9;
    padding-bottom: 40px;
}

.member-name-and-role{
    text-align: center;
    margin-top: 20px;
}

.jih-na-yeon, .misamo, .da-tzu-young{
    display: flex;
    justify-content: center;
    gap: 17%;
    margin-top: 5%;
    flex-wrap: wrap;
}

.jihyo-pic, .nayeon-pic, .jeongyeon-pic, .mina-pic, .sana-pic, .momo-pic, .dahyun-pic, .tzuyu-pic, .chae-pic{
    border-radius: 60%;
}

.twice-footer{
    background-color: #5071C2;
    padding: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}